body {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.vidya {
    border: 5px groove green;
    background-color: greenyellow;

}

.center {
    margin: 0 auto;
    display:block;
}
