body {
    background: linear-gradient(100deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.vidya {
    border: 5px groove green;
    background: linear-gradient(141deg, yellow 0%, yellowgreen 51%, greenyellow 70%, green 90%);

}

.center {
    margin: 0 auto;
    display:block;
}
